.label-container {
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 20px;
}

.myLabel {
    font-size: 80px;
}   

.button-container {
    align-items: center;
    justify-content: center;
    display: flex;
}

.theButton {
    font-size: 40px;
}